<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="application-url" content="http://yeshvantbhavnasi.info"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Yeshvant,bhavnasi,bhavnasi venkat satya,code,javascript,node,databases,startups,react,angular,machine learning">
        <title>Yeshvant Bhavnasi</title>
        <style>
            /* CSS styles for yeshvant bhavnasi blog */
            @import url('https://fonts.googleapis.com/css?family=Ubuntu');

            body {
                font-family: 'Ubuntu', sans-serif;
                margin: auto;
                max-width: 50rem;
                padding: 1rem;
                background-color: #fff;
                color: #000;
                font-size: 18px;
                line-height: 145%;
            }
            .nav {
                    margin: 1rem 0 3rem;
                    display: flex;
                    justify-content: space-between;
                    font-size: .9rem;
            }
            .nav a {
                color: grey;
                text-decoration: none;
                transition: color .25s;
                margin-left: 0.5rem;
            }
            a:hover {
                color: #0087F8;
            }
            .title {
                margin: 0.67em 0;
                color: #454a79;
                font-size: 1.75rem;
                font-weight: 700;
                text-align: center;
            }
            .quote {
                color:#4f7a2f; 
                font-size: 1rem;
                text-align: center;
            }
            ul.findme{
               list-style-type: none;
            }
            .findme a {
                color: #888;
                text-decoration: none;
                transition: color .25s;
            }
            li{
                margin-top: 1rem;
                
            }
           footer {
               color: #888;
               font-size: 0.9rem;
               font-family: "Lato",-apple-system,Helvetica,Arial,sans-serif;
               font-weight: 400;
               text-align: center;
           } 
        </style>
    </head>
    <body>
    <nav class="nav">
        <div class="nav__left">
            <a href="/">Home</a>
            <a href="/about/">About</a>
        </div>
        
        <div class="nav__right">
            <a target="_blank" href="https://github.com/yeshvantbhavnasi" class="link-github">GitHub</a>
            <a target="_blank" href="https://medium.com/@yeshvantbhavnas" class="link-medium">Medium</a>
            <a target="_blank" href="https://twitter.com/yeshvantbhavnas" class="link-twitter">Twitter</a>
            <a href="mailto:yeshvantbhavnasi@gmail.com" class="link-email">Email</a>
        </div>
    </nav>
        <h1 class="title">Yeshvant Bhavnasi</h1>
        <p class="quote">Engineering at my desk. Hoping to change the world for betterment.</p>
        {{{body}}}
    <footer class="text-center mar-tb-6">
© 2018 Yeshvant Bhavnasi.
</footer>
<script id="dsq-count-scr" src="//yeshvantbhavnasi-info.disqus.com/count.js" async></script>    
</body>
    
</html>
