<div class="about">

    <p>
        <h4>Sr Pre-sales Engineer at Guidewire Software with 7 years of software development experience. </h4>
        <br/>       
        A Self-directed innovator searching for challenges. Working on open source project and looking for innovating opportunities in machine learning and natural langugage processing analysis.
    </p>
    <hr/>
    <div>
       
    </div>
    <div>
        <h4>Find me here:</h4>
        <ul class="findme">
            <li><a target="_blank" href="https://github.com/yeshvantbhavnasi" class="link-github">GitHub</a></li>
            <li><a target="_blank" href="https://medium.com/@yeshvantbhavnas" class="link-medium">Medium</a></li>
            <li><a target="_blank" href="https://twitter.com/yeshvantbhavnas" class="link-twitter">Twitter</a></li>
            <li><a href="mailto:yeshvantbhavnasi@gmail.com" class="link-email">Email</a></li>
        </ul>
    </div>
</div>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/

