<div class="about">

    <p>
        <h4>Sr Pre-sales Engineer at Guidewire Software with 6 years of software development experience. </h4>
        <br/>       
        A Self-directed innovator searching for challenges. Working on open source project and looking for innovating opportunities in machine learning and natural langugage processing analysis.
    </p>
    <hr/>
    <div class="col-lg-2 col-md-2">
                <h4>2019 Books currently reading:</h4>
               <ul>
                   <li><a href="https://www.amazon.com/Master-Algorithm-Ultimate-Learning-Machine-ebook/dp/B012271YB2" target="_blank">The Master Algorithm</a> </li>
                   <li><a href="https://www.amazon.com/Bad-Blood-Secrets-Silicon-Startup/dp/152473165X" target="_blank">Bad Blood</a> </li>
               </ul>
    </div>
    <hr/>
    <div>
        <!-- <ol>
            <li>
               <h4>Machine Learning:</h4> 
               <ul>
                   <li>
                      Well versed with all classification and regression machine learning alogirthms. 
                   </li>
                   <li>
                      Developed a fingerprint based gender estimation classifier on Matlab achieving 88% accuracy.
                   </li>
                   <li>
                      Biotech plants data pathway regression model using R
                   </li>
                   <li>
                      Twitter sentiment analysis and classifier to detect the person mood on persons timeline
                   </li>
                   <li>
                      Wikipedia Movie data analysis to analyze the financial performance
                   </li>
               </ul>
            </li>
            <li>
                <h4>Natural Language processing: </h4>
                <ul>
                    <li>
                        Word2Vec
                    </li>
                    <li>
                        LDA (Latent Dychotomy analysis)
                    </li>
                    <li>
                        LSA (Latent Semantic analysis)
                    </li>
                    <li>
                        Topic Modelling
                    </li>
                    <li>
                        Worked on IBM watson question answering simulation system implementation using the wikipedia data and other open data sources (https://github.com/SeanTater/uncc2014watsonsim)
                    </li>
                </ul>
            </li>
            <li>
                <h4>Java backend development</h4>
                <ul>
                    <li>
                        Implemented application dashboard to perform single click Guidewire application status with logs management, Database backup/restore, git managmenet and other dev tasks
                    </li>
                     <li>
                        Implemented REST API using Java Jersey framework to implement tasks on the operating system and exposed on each VM
                    </li>
                     <li>
                        Implemented backend configurations and POC's on guidewire inusrance platform
                    </li>
                </ul>
            </li>
            <li>
                <h4>Hadoop:</h4>
                <ul>
                    <li>
                        Built my own hadoop implementation using java
                    </li>
                     <li>
                        Ability to manipulate an existing task into hadoop implementation using the distributed framework
                    </li>
                </ul>
            </li>
            <li>
                <h4>R Programming:</h4>
                <ul>
                    <li>
                        Performed data manipulation and extraction with data visualizations 
                    </li>
                </ul>
            </li>
            <li>
                <h4>Javascript</h4>
                <ul>
                    <li>
                       Angularjs: Developed dashboards and several applications
                    </li>
                    <li>
                       Socketio: Notifications and custom page refresh based on the events
                    </li>
                    <li>
                       Nodejs :Developed a complete application backend with several 3rd party api to collect data, modify and handle authentication using expressjs, async, co, kue, socket.io.
                    </li>

                </ul>
            </li>
        </ol> -->
    </div>
    <div>
        <h4>Find me here:</h4>
        <ul class="findme">
            <li><a target="_blank" href="https://github.com/yeshvantbhavnasi" class="link-github">GitHub</a></li>
            <li><a target="_blank" href="https://medium.com/@yeshvantbhavnas" class="link-medium">Medium</a></li>
            <li><a target="_blank" href="https://twitter.com/yeshvantbhavnas" class="link-twitter">Twitter</a></li>
            <li><a href="mailto:yeshvantbhavnasi@gmail.com" class="link-email">Email</a></li>
        </ul>
    </div>
</div>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/

